 body {
      font-family: Arial, sans-serif;
      background: black;
      padding: 20px;
      justify-content: center;
      align-items: center;
    }

    #animal-photos {
      background: #444;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 6px 20px rgba(0,0,0,0.6);
    }

    #photo-heading {
      text-align: center;
      color: #f0f0f0;
      font-weight: bold;
      
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .animal-img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }